extends layout
block body
    div.container-fluid.bg-secondary
        div.row
            div.col
                div.header.bg-danger
                    nav.d-flex.justify-content-beetween.align-items-center
                          ul.nav.justify-content-center.bg-danger
                            li.nav-item
                                a.nav-link(href="/" class=!categoryActive ? "active" : "" class="link-dark") Acceuil
                             //each cat in categories
                                li.nav-item
                                    a.nav-link(href="/"+ cat.cat_id class=categoryActive && categoryActive.cat_id  === cat.cat_id ? "active" : "")=cat.cat_name
                            //if(logged)
                                li.nav-item
                                    a.nav-link(href="/categories" ) Editer categories
                            //if (logged)
                                li.nav-item
                                    a.nav-link(href="/post/create") Créer un nouveau post 
                            //if(logged)
                                li.nav-item
                                    a.nav-link(href="/logout") Se deconnecter
                                    
                            //if(!logged)
                                li.nav-item
                                    a.nav-link(href="/login" text-green) Se connecter
                            //if(!logged)
                                li.nav-item
                                    a.nav-link(href="/signup") Créer un compte 
                            img(src='https://upload.wikimedia.org/wikipedia/fr/thumb/5/58/Reddit_logo_new.svg/1200px-Reddit_logo_new.svg.png' style="width:80px; height:40px" )
                           
       
       
        div.row
            div.col
                div.bg-light.p-5
                    if data.logged
                        if errors
                            div.p-2.alert.alert-danger
                                h4=errors
                        form(method="POST" action="/categories/create")
                            div.p-2
                                label(for="cat_name") Nom de la nouvelle categorie
                                    input(type="text" id="cat_name" name="cat_name")
                            
                            form(method="POST" action="/categories/create")
                                input(type="submit" value="Confirmer la création")
                            
                            form(method="GET" action="/categories")
                                input(type="submit" value="Annuler la création")
