extends layout 
block body
    h4 object

        form(action="/commentaire"+post.id method="POST")
                 h3 name
                 input(name="name")
                 h3 content
                 input(name="content")
                 input(type="submit" value="Ajoutez base de données")
                 
                 
   
                           