extends layout
block body
     div.container-fluid.bg-secondary
        div.row
            div.col
                div.header.bg-danger
                    nav.d-flex.justify-content-beetween.align-items-center
                          ul.nav.justify-content-end.bg-danger
                            li.nav-item
                                a.nav-link(href="/" class=!categoryActive ? "active" : "" class="link-dark" ).bg-green Acceuil
                            
                            img(src='https://upload.wikimedia.org/wikipedia/fr/thumb/5/58/Reddit_logo_new.svg/1200px-Reddit_logo_new.svg.png' style="width:80px; height:40px" )
                         
        form(action="/post/create" method="POST")
            div.row
                input(type="Submit" value="Sauvegarder")
            div.row
                div.col
                    div.bg-light.p-5
                        input(id="name" name="name")
            div.row
                div
                    select(name="category")
                      each cat in categories
                          option(value=cat.cat_id)= cat.cat_name
            div.row
                div.col
                    div
                        textarea(id="content" name="content")
                    div
                        label(for="lien") Ajouter un lien
                                    input(type="lien" id="lien" name="lien")
        div.row
            a(href="/")
                button Cancel